<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：必须与对应的接口全类名一致 id:必须与对应接口的某个对应的方法名一致 -->
<!-- 实体类,简称 -设置别名 -->
<mapper namespace="com.zngcloudcms.dao.IRoleDao">

	<insert id="createRole" parameterType="Role">
		insert into sys_role(id,name,code) values(#{id},#{name},#{code});
	</insert>

</mapper>  